pandas==1.4.0
plotly==5.24.1
plotly-express==0.4.1
streamlit
scikit-learn
pyvis==0.1.8.2
networkx==2.5
geocoder==1.38.1
numpy==1.21.0
lxml==4.9.2
holidays==0.24
yahooquery==2.2.15
extra-streamlit-components==0.1.53
pyarrow==14.0.1
beautifulsoup4==4.11.1
st-files-connection==0.1.0
boto3
xgboost