pandas==1.1.4
plotly==4.12.0
plotly-express==0.4.1
streamlit==1.8.1
scikit-learn==0.23.2
boto==2.49.0
boto3==1.11.9
botocore==1.14.9
pyvis==0.1.8.2
networkx==2.5
geocoder==1.38.1
numpy==1.19.5
pystan==2.19.1.1
fbprophet==0.7.1
yahooquery==2.2.15
extra-streamlit-components==0.1.53